#body {
    display: flex;
    padding: 1%;
    margin: auto;
    justify-content: center;
}

#heading {
    padding: 1%;
}

#logo {
    width: 50vw;
    padding: 2%;
}

.text {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-list {
    width: 75vw;
}

.vertical-list a {
    background-color: #eee;
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-list h4 {
    background-color: #2596be;
    display: block;
    padding: 12px;
    margin-bottom: 0;
    margin-top: 10px;
}

.vertical-list a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
}

.container {
    margin: 20px auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 36vw 36vw;
    grid-row: auto auto;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
}

.container box {
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

div .container {
    --bs-gutter-x: 2vw;
}