#body {
    display: flex;
    padding: 2%;
    margin: auto;
    height: 50vh;
    justify-content: center;
}

#heading {
    padding: 10%;
}

#logo {
    width: 50vw;
    padding: 2%;
}

.text {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    width: 50vh;
    position: relative;
    display: inline-block;
    padding-left: 1em;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(50%);
    list-style-type: none;
}